<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
  <script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script>
      $(window).scroll(function() {
        if ($('body').scrollTop() !== 0) {
          $('header').addClass('sticky');
        } else {
          $('header').removeClass('sticky');
        }
      });
    </script>
  </body>

</html>
